@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,100);
/*@import url(http://fonts.googleapis.com/css?family=Montez);*/
/*@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,100&subset=latin,latin-ext);*/

body {
    font-family: 'OpenSans', sans-serif;
    max-width: 720px;
    margin:40px auto;
    color:#444;
    padding: 0 20px;
}