body {
	background:#EEFF00;
	font-family: Helvetica, Arial, sans-serif;
	font-size:100%;
}

.clear-fix:after {
	clear:both;
	content:" ";
	height:0px;
	width:0px;
}

#main-container {
	width:500px;
	margin:0 auto;
	border:1px solid #ccc;
	box-shadow:0 0 4px #000000;
	background:#fff;
	position:relative;
}

#list {
	background:#eee;
	overflow: auto;
	max-height:400px;
}

#list .record {
	background:#fff;
	border-bottom:1px solid #aaa;
	height:40px;
	padding:5px;
}

#list .record.selected {
	background:#BCED91;
}

#list .click-area {
	width:40px;
	height:100%;
	float:left;
}

#list .subscription {
	height:100%;
	float:left;
}

#list .subscription .title {
	color:#666;
}

#header,
#footer {
	padding:20px;
	text-align:center;
}

#header {
	border-bottom:1px solid #aaa;
}

#header h1 {
	margin:0;
	font-size:18px;
	font-weight:bold;
}

#footer strong {
	color:#aaa;
	font-size:10px;
}

#mrEgg {
	position:absolute;
	right:-180px;
	top:0;
}