<?xml version="1.0" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html  xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <!-- meta tags -->
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="author" content="Petr Joachim / petr@joachim.cz" />
        <meta name="robots" content="index, follow" />
        <meta name="viewport" content="width=device-width" />

        <title>{{ page.title }}{% if page.title %} &mdash; {% endif %}Petr Joachim</title>

        <!-- CSS -->
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/bower_components/fontawesome/css/font-awesome.min.css">
        <!-- <link rel="stylesheet" href="/css/syntax.css"> -->
        <link rel="stylesheet" href="/css/main.css?1">

        <!-- Scripts -->
        <!-- <script src="/bower_components/jquery/dist/jquery.min.js"></script> -->
        <!-- <script src="/js/app.js"></script> -->

        <!-- RSS -->
        <link rel="alternate" type="application/rss+xml" href="/feed.xml" />
    </head>
    <body {% if page.class %}class="{{page.class}}"{% endif %}>
        {{ content }}
        <div id="footer" class="container">
            <i class="fa fa-copyright"></i> 2012 - 2015 &mdash; Petr&nbsp;Joachim &mdash; 
            <a href="mailto:petr@joachim.cz" title="e-mail me"><i class="fa fa-envelope-o"></i>&nbsp;petr@joachim.cz</a>
        </div>

        <script type="text/javascript">
            // GOOGLE ANALYTICS CODE
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-35610474-1']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    </body>
</html>
