<?xml version="1.0" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html  xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <!-- meta tags -->
        <meta name="viewport" content="width=device-width" />
        <meta name="robots" content="index, follow" />
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="author" content="Petr Joachim / petr@joachim.cz" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <title>Petr Joachim {{ page.title }}</title>

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

        <!-- RSS -->
        <link rel="alternate" type="application/rss+xml" href="/feed.xml" />
    </head>
    <body>
        <div id="center-wrapper">
            <div id="title">
                <h1 class="center"><a href="/">Petr Joachim</a></h1>
                <h2 class="center">python &amp; minimalism</h2>
            </div>
            <div id="content">

            {{ content }}

            </div>

            <div id="footer" class="center small light">
                &copy; 2012 - 2014 &mdash; Petr Joachim 
                &mdash; <a href="mailto:petr@joachim.cz" title="e-mail me">petr@joachim.cz</a> 
                <!-- TODO &mdash; <a href="/about.html" title="want to know more about me?">About&nbsp;me</a>--> 
                &mdash; <a href="/resume.html" title="want to see my online resume?">Résumé</a>
                &mdash; <a href="/feed.xml">RSS</a>
            </div>
        </div>

        <script type="text/javascript">
            // GOOGLE ANALYTICS CODE
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-35610474-1']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>

    </body>
</html>
